* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.productPage {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}
.productPage .container {
  border-radius: 2em;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.productPage .container .box {
  border-radius: 2em;
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
.productPage .container .box img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
}
.productPage .container .box::-webkit-scrollbar {
  display: none;
}
.productPage .page-1 {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1rem;
}
.productPage .page-1 .grid-container {
  padding: 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.productPage .page-1 .grid-container .product-box {
  width: 100%;
  height: 400px;
  border: 2px solid;
  position: relative;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
}
.productPage .page-1 .grid-container .product-box .grid-detail {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  grid-template-rows: repeat(2, 170px);
  gap: 1rem;
}
.productPage .page-1 .grid-container .product-box .grid-detail .box {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  position: relative;
}
.productPage .page-1 .grid-container .product-box .grid-detail .box img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 120px;
}
.productPage .page-1 .grid-container .product-box .grid-detail .box .des {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 0 0.2rem;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productPage .page-1 .grid-container .product-box .grid-detail .box .des .l {
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
  padding-left: 0.3rem;
}
.productPage .page-1 .grid-container .product-box .grid-detail .box .des button {
  background-color: red;
  padding: 0 1rem;
  border-radius: 1em;
  cursor: pointer;
  transition: scale 0.3s;
}
.productPage .page-1 .grid-container .product-box .grid-detail .box .des button:active {
  scale: 0.8;
}
.productPage .page-1 .grid-container .product-box .mobile-product-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.productPage .page-1 .grid-container .product-box .mobile-product-box .box {
  width: 100%;
  height: 100%;
  position: relative;
}
.productPage .page-1 .grid-container .product-box .mobile-product-box .box img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
.productPage .page-1 .grid-container .product-box .mobile-product-box .box .des {
  padding: 0 0.2rem;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.productPage .page-1 .grid-container .product-box .mobile-product-box .box .des p {
  white-space: nowrap;
}
.productPage .page-1 .grid-container .product-box .mobile-product-box .box .des button {
  background-color: red;
  padding: 0 1rem;
  border-radius: 1em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .productPage .page-1 .grid-container {
    padding: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
  }
  .productPage .page-1 .grid-container .product-box {
    border-radius: 1em;
    height: 250px;
    border: none;
  }
  .productPage .page-1 .grid-container .product-box .grid-detail {
    display: none;
  }
  .productPage .page-1 .grid-container .product-box .mobile-product-box {
    display: inline-block;
  }
}/*# sourceMappingURL=product.css.map */